[Unit]
Description=Music Module Common Service
Requires=
After=mpd.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'mpc clear && mpc add "" && mpc shuffle && mpc play'
ExecStop=

[Install]
WantedBy=default.target
